h1(ng-class="getNameClass(application.status)") {{application.name}}
.well.well-lg
    p: small {{application.personalCode}}
    p
        strong E-mail:
        |  {{application.email}}
    p
        strong Telefon:
        |  {{application.phone}}
    p
        strong Tudenikood:
        |  {{application.studentCode}}
    p
        strong Staatus:
        |  #[span.label(ng-class="getStatusLabel(application.status)") {{application.status}}]
.btn-group.btn-group-justified(ng-if="application.status == 'WAITING'")
    a(ng-click="setStatus('ACCEPTED')").btn.btn-success.btn-lg Võta vastu
    a(ng-click="setStatus('REJECTED')").btn.btn-danger.btn-lg Lükka tagasi
.panel

