h1 Ressursid
button.btn.btn-success(ng-if="tokenData.admin" ng-click="addNew()" ng-show="editing != -1") Lisa uus
div(ng-if="tokenData.admin" ng-show="editing == -1"): include mixins/addResource
div(ng-repeat="resource in resources | orderBy: 'name'")
    div(ng-show="editing != resource.id")
        h3 {{resource.name}}
            span.pull-right(ng-if="tokenData.admin")
                button.btn.btn-warning.btn-sm(ng-click="edit(resource)") Muuda
                button.btn.btn-danger.btn-sm(ng-click="delete(resource)" ng-show="deleting != resource.id") Kustuta
                button.btn.btn-danger.btn-sm(ng-show="deleting == resource.id" disabled): i.fa.fa-cog.fa-spin-fast
        p: small {{resource.comment}}
        .form-group
            .input-group
                input.form-control(type="text" ng-model="resource.url" readonly)
                span.input-group-btn
                    button.btn.btn-primary(ngclipboard data-clipboard-text="{{resource.url}}") Kopeeri
    div(ng-show="editing == resource.id"): include mixins/editResource