h3 Muuda parooli:
.well
    form(ng-submit="savePassword()")
        .form-group
            label.control-label Vana parool
            input.form-control(ng-model="password.old" type="password" ng-disabled="working.password")
        .form-group
            label.control-label Uus parool (vähemalt 8 sümbolit)
            input.form-control(ng-model="password.new" type="password" ng-disabled="working.password")
        .form-group
            label.control-label E-mail
            input.form-control(ng-model="password.newConfirm" type="password" ng-disabled="working.password")
        .form-group
            button.btn.btn-success(type="submit"
                    ng-disabled="working.password || password.new != password.newConfirm")
                | Muuda