.container
    h2.text-center Hub | ITÜK
    .well.well-lg
        form(ng-submit="recover()")
            .form-group
                label.control-label Parool
                    span.text-muted  (vähemalt 8 sümbolit)
                input.form-control(type="password" ng-model="password")
            .form-group
                label.control-label Korda parooli
                input.form-control(type="password" ng-model="passwordConfirm")
            .form-group
                button.btn.btn-success.btn-block(ng-disabled="password.length < 8 || password != passwordConfirm")
                    | Salvesta