.container
    h2.text-center Hub | ITÜK
    .well.well-lg
        form(ng-submit="recover()")
            .form-group
                label.control-label E-mail
                input.form-control(type="text" ng-model="email")
            .form-group
                button.btn.btn-success.btn-block Saada taastamislink